{% extends 'user/layout.html' %}

{% block csslink %}
{% load sass_tags %}
<link href="{% sass_src 'user/css/login.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title%}Sign in{% endblock %}

{% block main %}
<form class="form" method="POST">
    {% csrf_token %}
    <div class="control">
        <h1>
            Create your account
        </h1>
    </div>
    <div class="control block-cube block-input">
        {{ form.username }}
        <!--        <input name="username" type="text" placeholder="Username"/>-->
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        {{ form.password1 }}
        <!--        <input name="password" type="password" placeholder="Password"/>-->
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        {{ form.password2 }}
        <!--        <input name="password" type="password" placeholder="Repeat Password"/>-->
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="submit">
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>

        <div class="text">
            Sign up
        </div>
    </button>

    <div class="block-cube">
        <a href="{% url 'login'%}">Already have an account? Login</a>
    </div>
</form>

{% if form.errors %}
{{ form.non_field_errors }}
<dialog id="register" open>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <p>{{ error|escape }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
    <button type="button" class="btnoverlay" onclick="closeDialogAboutRegistration()">Close</button>
</dialog>
{% endif %}

{% load static %}

<script src="{% static 'user/js/main.js' %}" type="application/javascript"></script>
{% endblock %}
