<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load sass_tags %}
    <link href="{% sass_src 'chat/css/chat.scss' %}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>WebChatify</title>
</head>
<body>
<section class="mainApp">
    <div class="leftPanel">
        <header>
            <button class="trigger">
                <svg viewBox="0 0 24 24">
                    <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
                </svg>
            </button>

            <input class="searchChats" type="search" placeholder="Search..."/>
        </header>
        <div class="chats">
            {% block list_chat_rooms %}

            {% endblock %}
        </div>
    </div>

    <div class="rightPanel">
        {% block room %}

        {% endblock %}
    </div>
</section>

<!-- ---------------------- -->
<!-- MENU AND OVERLAY STUFF -->
<!-- ---------------------- -->

<!-- MENU -->
<section class="menuWrap">
    <div class="menu">
        <div class="me">
            <div class="image"></div>

            <div class="myinfo">
                <p class="name">Random Name</p>
                <p class="phone">+1 12 1234 5678</p>
            </div>

            <button class="cloud">
                <i class="material-icons">bookmark</i>
            </button>

            <button class="settings">
                <i class="material-icons">settings</i>
            </button>

        </div>
        <nav>
            <button class="ng">
                <i class="material-icons">&#xE8D3;</i>

                <span>New Group</span>
            </button>

            <button class="cn">
                <i class="material-icons">&#xE851;</i>

                <span>Contacts</span>
            </button>

            <button class="cl">
                <i class="material-icons">&#xE0B0;</i>

                <span>Calls History</span>
            </button>

            <a href="{% url 'logout'%}">
                <button class="lo">
                    <i class="material-icons">&#xE879;</i>

                    <span>Logout</span>
                </button>
            </a>

        </nav>
    </div>
</section>

<!-- CONVERSATION OPTIONS MENU -->
<div class="moreMenu">
    <button class="option about">See Info</button>
    <button class="option notify">Disable Notifications</button>
    <button class="option block">Block User</button>
</div>

<!-- MOBILE OVERLAY -->
<section class="switchMobile">
    <p class="title">Mobile Device Detected</p>

    <p class="desc">Switch to the mobile app for a better performance.</p>

    <a href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=pt_BR&gl=US">
        <button class="okay">OK</button>
    </a>
</section>

<!-- PROFILE OPTIONS OVERLAY -->
<section class="config">
    <section class="configSect">
        <div class="profile">
            <p class="confTitle">Settings</p>

            <div class="image"></div>

            <div class="side">
                <p class="name">Random Name</p>
                <p class="pStatus">Online</p>
            </div>

            <button class="changePic">Change Profile Picture</button>
            <button class="edit">Edit Profile Info</button>
        </div>
    </section>

    <section class="configSect second">

        <!-- PROFILE INFO SECTION -->
        <p class="confTitle">Your Info</p>

        <div class="information">
            <ul>
                <li>Phone Number: <span class="blue phone">+1 12 1234 5678</span></li>
                <li>Username: <span class="blue username">@USERNAME</span></li>
            </ul>
        </div>

        <!-- NOTIFICATIONS SECTION -->
        <p class="confTitle">Notifications</p>

        <div class="optionWrapper deskNotif">
            <input type="checkbox" id="deskNotif" class="toggleTracer" checked>

            <label class="check deskNotif" for="deskNotif">
                <div class="tracer"></div>
            </label>
            <p>Enable Desktop Notifications</p>
        </div>

        <div class="optionWrapper showSName">
            <input type="checkbox" id="showSName" class="toggleTracer">

            <label class="check" for="showSName">
                <div class="tracer"></div>
            </label>
            <p>Show Sender Name</p>
        </div>

        <div class="optionWrapper showPreview">
            <input type="checkbox" id="showPreview" class="toggleTracer">

            <label class="check" for="showPreview">
                <div class="tracer"></div>
            </label>
            <p>Show Message Preview</p>
        </div>

        <div class="optionWrapper playSounds">
            <input type="checkbox" id="playSounds" class="toggleTracer">

            <label class="check" for="playSounds">
                <div class="tracer"></div>
            </label>
            <p>Play Sounds</p>
        </div>
    </section>
</section>

<!-- NEW GROUP CREATION -->
<section class="groupCreation">
    <form enctype="multipart/form-data" action="{% url 'create_group' %}" method="POST" class="group-form">
        {% csrf_token %}
        <div class="form-group">
            <div class="upload-group">
                <label id="group_photo_lable" for="group_photo" class="upload-label">
                    <i class="fa fa-camera"></i>
                </label>
                <img id="preview_image" src="#" alt="Selected Image" style="display: none; ">
                {{ group.photo }}
                <!--                <input type="file" name="group_photo" id="group_photo" accept="image/*">-->
            </div>

            <div class="group-name">
                {{ group.name }}
                <!--                <input type="text" name="group_name" placeholder="Group Name" required>-->
            </div>
        </div>
        <div class="form-actions">

            <button type="button" class="btn-cancel">Cancel</button>
            <button type="submit" class="btn-create">Create Group</button>
        </div>
    </form>
</section>


<!-- DARK FRAME OVERLAY -->
<section class="overlay"></section>

<!-- -------------------------------- -->
<!-- SPECIFIC FOR CONNECTION WARNINGS -->
<!-- -------------------------------- -->
<div class="alerts">
    Trying to reconnect...
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% load static %}
<script src="{% static 'chat/js/chat.js' %}" type="application/javascript"></script>
{% block script %}

{% endblock %}
</body>
</html>